@page "/jokes"

<MudContainer Class="jokes-container">
    <MudText Typo="Typo.h4" Align="Align.Center">Jokes</MudText>
    <MudPaper Class="pa-4 mt-4 jokes-paper">
        <MudText Typo="Typo.body1">Select Flags to Blacklist</MudText>
        <div Class="jokes-flags">
            @foreach (var flag in BlacklistFlags)
            {
                <MudCheckBox T="bool" Label="@flag" @bind-value="@SelectedFlags[flag]" onclick="@(() => OnFlagChanged(@flag, !SelectedFlags[flag]))" />
            }
        </div>
        <div class="jokes-api-url">
            <MudText Typo="Typo.body1">API Url: </MudText>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <MudTooltip Text="View Json" Arrow="true" Placement="Placement.Bottom">
                <MudText Variant="Variant.Filled" Color="Color.Primary">
                    <a href="@DisplayUrl" target="_blank" rel="noopener noreferrer">@DisplayUrl</a>
                </MudText>
            </MudTooltip>
        </div>
    </MudPaper>
    <MudPaper Class="pa-4 mt-4 jokes-paper">
        <MudText Typo="Typo.body1" Align="Align.Center">Joke Text</MudText>
        <MudText Variant="Variant.Filled" Color="Color.Primary" Class="mt-4">
            @if (IsLoading)
            {
                <div class="loading-indicator">
                    Loading...
                </div>
            }
            @JokeText
        </MudText>
        <div>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetPreviousJoke" Class="mt-4">
                Previous
            </MudButton>
            <span class="button-space"></span>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="GetJoke" Class="mt-4">
                New Joke
            </MudButton>
        </div>
    </MudPaper>
</MudContainer>
